<settings>
  ...
  <profiles>
    <profile>
      <id>codeartifact</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>codeartifact</id>
          <url>https://web-app-project-745177545186.d.codeartifact.us-east-2.amazonaws.com/maven/Web-App-Project-DevOps-CICD/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <mirrors>
    <mirror>
      <id>codeartifact</id>
      <name>AWS CodeArtifact Mirror</name>
      <url>https://web-app-project-745177545186.d.codeartifact.us-east-2.amazonaws.com/maven/Web-App-Project-DevOps-CICD/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>